body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #141414; 
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    background-color: #181818; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

#logo {
    height: 50px; 
    margin-right: auto; 
    transition: transform 0.3s ease; 
}

#logo:hover {
    transform: scale(1.05);
}

nav button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease; 
}

nav button:hover {
    color: rgb(59, 94, 235);
    text-decoration: none;
    transform: translateY(-2px); 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.container {
    max-width: 800px; 
    margin: 30px auto;
    padding: 10px;
    background-color: #202020; 
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.about-section {
    margin: 0;
    padding: 20px;
}

.about-section h1 {
    color: rgb(59, 94, 235);
    margin-bottom: 40px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 10px;
}
